*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}
.container-img {
    width: 250px;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}
section {
    padding: 3.9rem 0;
    overflow: hidden;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

/*Header*/

.nav{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    color: #fff;
    height: 70px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav-list{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
.nav-item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.nav-link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-link:hover{
    color: #ffc845;
}

/*Section*/

.header{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    text-align: center;
}
.header-inicio{
    background: url(../img/pastel.webp);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
.texto-principal{
    height: 500px;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    align-items: center;
}

/*Armar menu*/

.h2-sub {
    font-size: 100px;
    color: #231955;
    font-weight: 600;
    line-height: .4;
}
.head {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: .5rem;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn {
    text-decoration: none;
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: 4rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #ffc845;
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
.global {
    text-align: center;
    margin-top: 3.9rem;
}
.dis-sto .global {
    margin-top: 6.9rem;
}
.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}
.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}
.res-info {
    text-align: center;
}
.res-des {
    margin-bottom: 2rem;
    margin: 50px;
}
.res-des p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 2.4rem;
    font-size: 18px;
}
.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    height: 500px;
}
.image-group img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

/**/

footer{
    width: 100%;
    padding: 50px 0px;
    background: #252525;
    color: white;
    justify-content: center;
    align-items: center;
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}
.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box_footer h2{
    margin-bottom: 30px;
    font-weight: 750;
}
.box_footer p{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
.box_footer a{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
    text-align: center;
}

.box_footer a:hover{
    color: #ffc845;
}

/*Responsive Desing*/

@media screen and (min-width: 900px) {

    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 90px;
    }
    .head {
        font-size: 70px;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info div {
        flex: 1;
    }

    .pad-rig {
        padding-right: 7rem;
    }
    
}

/*Formulario*/

.container-form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cont-form{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    border-radius: 30px;
    padding: 40px;
    margin: 15px;
    width: 50%;
    text-align: center;
}
h2{
    text-align: center;
    padding: 10px;
}
input, select{
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.519);
}
.check{
    width: 15px;
    height: 15px;
    display: inline;
}
label{
    font-size: 20px;
    text-align: center;
}
